body {
    text-align: center;
}
.logos {

    height: 100px;
    width: 100px;
}

.react{
   
    text-align: center;
}
.java{
   
    text-align: center;
}
.node{
    
    text-align: center;
}
.angular{
   
    text-align: center;
}
.javascript{
   
    text-align: center;
}

