body {
    background-color: black;
    color: white;
    font-family: sans-serif, 'Yu-gothic';
  }
  
  .header{
    text-align: center;
    
  }
  
  .first-row {
      display: flex;
      justify-content: center;
      background-color: grey;
      height: 600px;
  }
  
  
  .javascript {
      display: flex;
      flex-direction: column;
      background-color: black;
      align-items: center;
      text-align: center;
      border: 1px solid white;
      width: 400px;
  
  }
  
  .class-title {
    margin-right: 40px;
     margin-left: 40px;
  }
  
  .class-counter {
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 20px;
  }
  
  .project-counter {
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 20px;
  }
  .maestry-indicator {
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 20px;
  color: red;
    background-color: red;
  }
  
  
  .observations {
      
  
  background-color: white;
  }
  